body {
  background-color: black;
}
li {
  color: rgb(10, 247, 247);

  list-style: none;
}

.nav > li {
  float: left;
  margin-left: 10px;
}

* {
  padding: 0px;
}
.tp > div > a > img {
  width: 120px;
  height: 100px;
}
.tp > div {
  display: none;
}

.poto {
  width: 30px;
  height: 100px;
  float: left;
  clear: both;
}
.tp {
  width: 130px;
  height: 300px;
  float: left;
}
.r {
  position: absolute;
}
* {
  padding: 0px;
}
.z {
  width: 30px;
  height: 30px;
  background-color: burlywood;
  float: left;
}

.x {
  width: 30px;
  height: 30px;
  background-color: rgb(250, 249, 253);
  float: left;
}
.c {
  width: 30px;
  height: 30px;
  background-color: rgb(240, 10, 10);
  float: left;
}
.lhh {
  clear: both;
}

.content div {
  display: none;
  clear: both;
}
